@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/*
:root {
  --font-family: "Manrope", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #040c18;
  --color-footer: #031b34;
  --color-blog: #042c54;
  --color-text: #81afdd;
  --color-subtext: #ff8a71;
}
*/

/*
.container {
  background: #040c18;
}
*/

.container {
  width: 100%;
  height: 100%;
  min-height: 100vh;

  /* ff 3.6+ */
  background: -moz-radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );

  /* safari 5.1+,chrome 10+ */
  background: -webkit-radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );

  /* opera 11.10+ */
  background: -o-radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );

  /* ie 10+ */
  background: -ms-radial-gradient(
    circle at 3% 25%,
    rgba(49, 51, 78, 1) 0%,
    rgba(10, 10, 16, 1) 100%
  );

  /* global 92%+ browsers support */
  background: radial-gradient(circle at 3% 25%, rgba(49, 51, 78, 1) 0%, rgba(10, 10, 16, 1) 100%);
}

.gradientText {
  background: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sectionPadding {
  padding: 4rem 6rem;
}

.sectionMargin {
  margin: 4rem 6rem;
}

.scaleUpAnimation {
  -webkit-animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .sectionPadding {
    padding: 4rem;
  }

  .sectionMargin {
    margin: 4rem;
  }
}

@media screen and (max-width: 550px) {
  .sectionPadding {
    padding: 4rem 2rem;
  }

  .sectionMargin {
    margin: 4rem 2rem;
  }
}

/* OLD CODE */

/*
.container {
  width: 100vw;
  height: 100vh;
  background-color: #181926;
}

.main {
  height: calc(100vh - 93.44px);
}

.contentWindow {
  padding: 1.25rem;
  text-align: center;
  border-radius: 0.75rem;
  background-color: #1a1d33;
  width: 300px;
  height: 300px;
  float: right;
  margin-right: 10vw;
  margin-top: 7vh;
  display: flex;
  align-items: center;
}

.content {
  margin-bottom: 1.5rem;
}

.titleText {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 23.3896px;
  line-height: 35px;
  text-align: center;
  color: #fff;
  margin: 0;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 2.5rem;
}

.signupButton,
.loginButton {
  border-radius: 4.67791px;
  width: 202.09px;
  height: 37.42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.signupButton {
  background-color: #445dc9;
}

.loginButton {
  margin-top: 1.5rem;
  background-color: #2d3f8b;
}

.buttonText {
  color: #fff;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14.0337px;
  line-height: 21px;
  text-align: center;
}

*/
